<!-- Tweet feed -->
<% @tweets.each do |tweet| %>
  <%= render '/tweet/tweet_list', :tweet => tweet %>
<% end %>

<div style="width: 40%; display: inline-block;">
  <!-- Accounts -->
  <% @accounts.each do |account| %>
  <div style="display: block; margin-top: 5px;">
    <h3>Username : <a href="/account/<%= account.username %>"><%= account.username %></a></h3>
    <p>Name :<%= Account.get_name(account.firstname, account.lastname) %></p>
  </div>
  <% end %>
</div>