<header>
  <div class="container">
    <h1>Twitter Hétic</h1>
  </div>
</header>
<div class="container" style="padding-top: 70px;">

  <div class="infos">
    <h2>Bienvenue sur Twitter Hétic</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nisi facilis ipsa, est doloremque in fugit. Aperiam illo necessitatibus eaque blanditiis, cumque repellendus consequatur porro doloremque iusto fuga fugit est?
    </p>
  </div>

  <div class="forms">
    <!-- Subscribe Form -->
    <%= render '/auth/form_subscribe' %>

    <!-- Connect Form -->
    <%= render '/auth/form_connect' %>
  </div>

  <div class="clear"></div>

</div>
