<header>
  <div class="container">
    <h1>Twitter Hétic</h1>
  </div>
</header>
<div class="container" style="padding-top: 70px;">

  <div class="infos">
    <h2>Bienvenue sur Twitter Hétic</h2>

    <p>
      Connectez-vous à vos amis — et d'autres personnes fascinantes. Recevez des mises à jour instantanées sur les choses qui vous intéressent. Et regardez les événements se dérouler, en temps réel, sous tous les angles.
    </p>
  </div>

  <div class="forms">
    <!-- Subscribe Form -->
    <%= render '/auth/form_subscribe' %>

    <!-- Connect Form -->
    <%= render '/auth/form_connect' %>
  </div>

  <div class="clear"></div>

</div>
