@import 'variables';

.sidebar {
  width: 20%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: $second-color;
  color: #fff;
  padding: 15px;

  .trends {
    margin-top: 20px;
    a {
      color: #fff;
      text-decoration: none;
      color: $primary-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@import 'user';
