.pagination {
  width: 50%;
  background: white;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid $third-color;
  margin-top: 15px;

  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
