
.sidebar {

  .user {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 10px;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: $primary-color;
      }
    }

    .avatar {
      float: left;
      height: 80px;
      width: 30%;

      .img {
        width: 80px;
        height: 80px;
        background: $primary-color;
      }
    }

    .infos {
      padding-left: 5px;
      float: left;
      color: #fff;
      line-height: 28px;
    }
  }


  .stats {
    width: 100%;
    margin-top: 30px;

    .stats_right, .stats_left {
      width: 50%;
      float: left;
      text-align: center;

      p {
        color: #fff;
        font-size: 22px;
        margin-bottom: 5px;
      }

      h4 {
        color: darken($primary-color, 20%);
        font-size: 16px;
      }

      &:first-child {
        border-right: 1px solid $primary-color;
      }
    }
  }
}


.edit_form_account {
  padding: 20px;
  background: white;
  width: 50%;
  margin: 0 auto;
  border: 1px solid $third-color;
  border-radius: $radius;

  input {
    width: 100%;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid $third-color;

    &[type="submit"] {
      background: $primary-color;
      text-align: center;
      text-transform: uppercase;
      color: white;
      border-radius: $radius;
    }
  }
}
