<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome on Twitter-Hétic</title>
  <%= stylesheet_link_tag 'welcome', media: 'all' %>
</head>
<body>

  <%= yield %>

</body>
</html>
