<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <%= display_meta_tags site: 'Welcome on Twitter-Hétic' %>
  <%= stylesheet_link_tag 'welcome', media: 'all' %>
</head>
<body>

  <%= yield %>

</body>
</html>
